[2021-04-26 23:25] mrp089 opened #11 "Cleanup"
- delete unused blocks
- delete commented code
- simplify where possible

[2021-04-28 18:02] mrp089 opened #14 "Use json for input files"
Generate an input file that directly contains the Python structure of the 0D solver

See for example https://github.com/Autodesk/nanodesign/tree/dev/tests/samples

[2021-05-12 17:56] JonathanPham opened #19 "Add test cases / examples"
Add test cases and examples for the following 0d elements:

- R (resistor)
- RCR
- RC
- RL
- RLC
- Coronary
- Stenosis

[2021-05-12 17:58] JonathanPham opened #20 "Add documentation for the 0d solver"
- Add documentation / comments for all files in svZeroDSolver
- Add documentation describing how to use the 0d solver

[2021-05-25 21:53] mrp089 opened #22 "Make repository public"
In order to make this repository public, add the following things:

- [x] documentation (#20)
- [x] readme
- [x] license information

[2021-05-26 22:51] mrp089 opened #23 "Integrate svZeroDSolver into SimVascular"
Include svZeroDSolver as a git submodule in the SimVascular repository and run it from the GUI

[2021-06-03 01:13] ktbolt opened #30 "Reorganized the repository files to be a Python package"
We would like to reorganized the repository files to represent a Python package. This will allow the 0D Solver to be run

1) Directly from the cloned repository

2) From `SimVascular/Python/site-packages`

3) As an installed Python package

[2021-06-03 01:15] ktbolt commented on #23
I've reorganized the `svZeroDSolver.py` file and added a `run_from_c(*args, **kwargs)` function that can now be called from C++. This seems to work.

I needed to add an `__intit__.py` file to enable using the svZeroDSolver package in SV Python/site-packages, also changed some imports to be relative. These changes now prevent calling `svZeroDSolver.py` directly from the git repo because it is not s

[2021-06-03 03:03] ktbolt commented on #30
@mrp089 @JonathanPham Here's a proposed organization

[code]
where `svZeroDSolver.py` has been renamed `solver.py`.

You can execute the 0D solver directly from the github repo using
[code]

[2021-06-03 18:04] JonathanPham commented on #30
@ktbolt Sounds good, thanks for reorganizing the 0D solver!

[2021-06-09 20:57] ktbolt commented on #30
@JonathanPham @mrp089 I've merged the changes to reorganize the repository. I also updated the README.md describing how to access the `svzerodsolver` and install it.

[2021-06-09 20:57] #30 closed

[2021-06-10 02:28] JonathanPham commented on #30
@ktbolt Thanks for making the updates!

[2021-06-10 02:30] JonathanPham opened #33 "Test cases no longer work"
Due to reorganization of the svZeroDSolver, `test_cases/run_tests.py` no longer works.

From within the `test_cases` directory, running the commands, `python run_tests.py` or `./run_tests.py`, do not work anymore. I am not sure how to fix this issue. @ktbolt can you help out?

[2021-06-10 02:34] JonathanPham opened #34 "Not able to install svzerodsolver Python package"
I tried the instructions on the `README.md` to install the svzerodsolver Python package, but the command, `python setup.py install --record files.txt`, does not work for me. Note that I added the extra `--record files.txt` so that I could uninstall this package in the future if I need to (see reference [here](https://stackoverflow.com/questions/1550226/python-setup-py-uninstall)).

This is the ent

[2021-06-10 02:40] JonathanPham commented on #34
Also, one more question. If I install svzerodsolver as a Python package, then would I have to uninstall it and reinstall it (if there are updates to this svZeroDSolver repo) in the future?

[2021-06-10 03:08] ktbolt commented on #33
The relative imports are not working for the test cases, I'll have a look.

[2021-06-10 05:45] ktbolt commented on #33
@JonathanPham I've modified `run_tests.py` to execute the solver correctly
[code]
However, the `__init__.py` file needed by SV is causing problems because `svzerodsolver` is being included twice. I have a workaround for that but maybe the testing should be reworked a bit.

For example, I am wondering why `run_tests.py` is executing the solver using a Python script rather than just calling a functi

[2021-06-10 06:03] JonathanPham commented on #33
@ktbolt

When I originally created the test cases for the 0D solver, I thought the test cases should be similar the ones used by the 1D solver. As such, `run_tests.py` here is based on the [one used in the 1D solver](https://github.com/SimVascular/svOneDSolver/blob/master/test/run_tests.py). But like you said, maybe it's better if we rewrite `run_tests.py` to just call a function from `solver.py`

[2021-06-10 06:10] mrp089 commented on #33
@ktbolt @mrp089 You're both right! The original testing was taken from the 1D solver (C++) and should be adapted as @ktbolt  suggested.

I can do that next week!

[2021-06-10 21:30] ktbolt commented on #34
@JonathanPham The `Permission denied` error is because you need to be root to install into `/usr/local/lib/python3.8/`, just use `sudo python setup.py install`.

In future I will setup things to use `pip`.

[2021-06-29 21:54] mrp089 commented on #33
Closed by #28

[2021-06-29 21:54] #33 closed

[2021-06-29 21:54] #23 closed

[2021-06-29 21:54] #22 closed

[2021-06-29 21:54] #20 closed

[2021-06-29 21:54] #19 closed

[2021-06-29 21:56] mrp089 commented on #34
Alternatively, you can also run `python setup.py install --user`. See https://docs.python.org/3/install/

[2021-06-29 21:56] #34 closed

[2021-06-29 21:56] #11 closed

[2021-06-29 22:46] mrp089 commented on #14
@JonathanPham Can you parse a sample simulation setup with `json` and post the output here?

[2021-06-30 18:09] JonathanPham commented on #14
From stackoverflow, in order to save a Python object (e.g. a 0D element) to a json file, we need to convert that object into a `dict`, where the fields of that object will be stored as the keys / values of the `dict`. But those fields have to be converted into strings and we can't do that with numpy functions (or any function) easily. By numpy function, I mean like `np.abs()` in `StenosisBlock` or

[2021-06-30 18:34] ktbolt commented on #14
@JonathanPham Complex data structures like custom objects and numpy objects are not serializable. You will need to use **jsonpickle** https://github.com/jsonpickle/jsonpickle I think.

[2021-06-30 20:26] mrp089 commented on #14
Could we do an intermediate step between "text input file" and "exporting the whole model with json"? We could store all the information we have in the text input file but store it in a more "pythonic" format, e.g.

[code]

The downside is that we would have to manually define a way to store this information. However, we already have the 0D and 1D model in more or less this dictionary structure in

[2021-06-30 21:52] JonathanPham commented on #14
@mrp089 The method you suggested would reduce the number of file I/O operations that we would have to do, because we wouldn't need to save the dictionary structure in SimVascular in `Python/site-packages/sv_rom_simulation` to a text file and later read that same text file in `svzerodsolver/solver.py` to create the 0d model. We can save this dictionary structure to a json file. Sounds like a good i

[2021-06-30 22:24] mrp089 commented on #14
Awesome, then let's do that! Can you provide a sample (current) input file together with the dictionary structure you'd like to have? Then I'll modify the export accordingly.

[2021-07-01 00:15] ktbolt commented on #14
What is the difference between "text input file" and "exporting the whole model?

I thought the goal was to just store the input data for the solver? So you just need to store some numpy arrays, float values and string values I think, like @mrp089 example. For example
[code]
You can extract data from the JSON file by just walking though the data structures which don't need to match anything in the

[2021-07-01 00:55] mrp089 commented on #14
Originally, we had this idea where we store the whole Python object structure of the 0D model with `json`. But it looks like that will be too complicated and maybe not even that useful.

[2021-07-01 02:07] ktbolt commented on #14
It's probably not a good idea to store the  whole Python object structure of the 0D model, this could expose implementation details that could change. The JSON file should be easy to understand so that users could generate their own file.

[2021-07-01 23:15] JonathanPham commented on #14
@ktbolt Sounds good, we won't be storing the whole Python object structure of the 0D model to a json file. Instead, we'll just save the contents of the original 0D input file in a more pythonic format, as @mrp089 suggested.

@mrp089 attached is a 0D input file and its related json file. When I read the 0D input file in `svzerodsolver.solver.py`, I save the information to a dictionary called `param

[2021-07-01 23:28] mrp089 commented on #14
@JonathanPham Thanks! A couple of things:

1. Why is the inflow sorted as `[t0, f0, t1, f1, ..., tn, fn]` and not `[[t0, t1, ..., tn], [f0, f1, ..., fn]]`? Can `json` not handle arrays of arrays? If that's the case, we should sort it with dictionary keys (or just do that anyways).
2. What are the `0.0`s in the RCR BCs? Is it for time-dependent RCRs? If that's the case, I think there should be a be

[2021-07-01 23:57] ktbolt commented on #14
Wouldn't inflow be better stored as `[ [t0,f0], [t1,f1], ... ]` ? I assume this is a 2D NumPy array so you can just write it using `ndarray.tolist()`.

[2021-07-02 18:35] mrp089 commented on #14
@JonathanPham Here are my input files with new centerlines (after https://github.com/SimVascular/SimVascular/commit/19e6fb6f26600da0cbc99def4a93dcf377ddc7ac): [0d.zip](https://github.com/SimVascular/svZeroDSolver/files/6756422/0d.zip), [1d.zip](https://github.com/SimVascular/svZeroDSolver/files/6756423/1d.zip).

Can you provide the `json` files with
[code]
Thank you!

[2021-07-02 21:22] JonathanPham commented on #14
@mrp089 Here are the json files corresponding to the 0d input files you sent me:
[json_0d.zip](https://github.com/SimVascular/svZeroDSolver/files/6757112/json_0d.zip)

[2021-07-03 02:00] mrp089 commented on #14
Thanks! I'm able to generate these now: https://github.com/mrp089/SimVascular/tree/0d_json_920

Next step: make it nicer! @JonathanPham Can you derive a new `json` format that follows the following guidelines:
- no redundant information
e.g. `joint_outlet_segments`, `joint_inlet_segments` are already in `joint_name_to_segments_map`
- dictionaries whenever possible to make input clearer
e.g. `{'Rp'

[2021-07-06 17:53] JonathanPham commented on #14
@mrp089 Sounds good. I'll create new `json` files following the guidelines you provided and then send them over to you.

[2021-07-07 00:28] JonathanPham commented on #14
@mrp089 Here are the updated `json` files for the 0d models, following the guidelines you provided.

Note that the `lengths` is still in the dicts because we need them to determine the distance along the centerlines for our 0d results file (#15).

[json_0d.zip](https://github.com/SimVascular/svZeroDSolver/files/6773437/json_0d.zip)

[2021-07-07 17:01] mrp089 commented on #14
That looks awesome @JonathanPham!! I'll modify my code accordingly.

Do you have an `svZeroDSolver` branch that can read those input files? Then I'll test the whole loop once I'm done.

[2021-07-07 18:29] mrp089 commented on #14
One minor edit: I added `density` and `viscosity` to the input file. I know it's always the same, but we let people in the GUI choose it so we should pass it on to the solver.

[2021-07-07 18:30] mrp089 opened #37 "Change test cases to json"
Depends on #14. Change all test cases to the new `json` format. Retain all comments in the file. @JonathanPham Can you use your pipeline to convert these automatically?

[2021-07-07 18:42] mrp089 opened #38 "Use arbitrary combinations of blocks"
Currently, we have the elementary building blocks `R`, `C`, `L`. In addition, we also have "combo blocks" that combine two or more elementary 0D blocks like `R + stenosis`,  `RC`, `RL`, `RCL`. However, I see two issues with that:

1. Redundant code: `RC`, `RL`, `RCL` should consist of the same equations as `R`, `C`, `L`.
2. Lack of flexibility: Say I want to run `RCL + stenosis`, I would have to c

[2021-07-07 19:31] ktbolt commented on #14
@JonathanPham The JSON files look like a dump of internal data structures, will look like a bunch of unrelated data to a user, also seems verbose
[code]
where IDs [0, 1, ..., 13] are repeated in several data structures.

Let's group data into objects that are more descriptive of the problem. For example

[code]

Create a Python class that reads/writes JSON files. Make sure to include error handlin

[2021-07-07 23:25] JonathanPham commented on #14
@ktbolt Good idea. I'll go ahead and update the current json format to use the more descriptive format you suggested.

@mrp089 Can you hold off on updating SimVascular until I finish making these new changes?

[2021-07-07 23:31] JonathanPham commented on #38
@mrp089 I like the idea you suggested. If we do this, then I believe this `combo block` would be specifically limited to modeling only vascular elements. In this `combo block`, we could include options to use RCL + stenosis + other elements (e.g. curvature and unsteadiness effects, as discussed in **M. Mirramezani and S.C. Shadden. A distributed lumped parameter model of blood flow. Annals of Biom

[2021-07-07 23:38] mrp089 commented on #14
Sounds good! @JonathanPham Please use these legacy input files for testing (using the current SV master): [0d.zip](https://github.com/SimVascular/svZeroDSolver/files/6780548/0d.zip)

[2021-07-13 01:55] JonathanPham commented on #14
@mrp089 Here are the json files, using the new format (based on the one recommended by @ktbolt), corresponding to the legacy 0d input file you sent previously.

After you make the changes in SimVascular, you can test out the new 0d json input files using my [branch](https://github.com/JonathanPham/svZeroDSolver/tree/use_json). To use this branch, you'll need to set the `use_steady_soltns_as_ics` o

[2021-07-13 16:34] mrp089 commented on #14
Thanks, @JonathanPham! I'll look at it Thursday afternoon. Let me know if they're any changes.

[2021-07-20 01:47] JonathanPham opened #40 "Capture stenoses-like pressure losses in junctions"
Some junctions have large area changes that induce high pressure losses. An example of this is shown below.

![pressure_0118_1000](https://user-images.githubusercontent.com/39072822/126249759-40816097-15ef-44c0-b6ac-3207caaaac58.png)

An interesting idea that @mrp089 had to model these junction pressure losses in the 0D models would be to use the `StenosisBlock` formulation (but without the Poiseu

[2021-07-23 22:11] mrp089 commented on #37
It looks like the comments of the original test cases got lost in the conversion. They were quite useful in describing what a test case does and contained some analytical derivations of the results.

@JonathanPham, can you add those back in? Only the useful ones, not the documentation of the input file. Thank you!!

[2021-07-23 22:11] #14 closed

[2021-07-23 23:02] JonathanPham commented on #14
Not sure where to where post this issue, so I'll post it here.

@mrp089 I just noticed that the coronary boundary conditions in the 0d text input files that you sent me in a previous [comment](https://github.com/SimVascular/svZeroDSolver/issues/14#issuecomment-876004359) are not periodic. I think this might be an issue, because in the 0d solver, we always assume that pulsatile boundary conditions

[2021-07-24 03:30] JonathanPham commented on #37
Added back the description comments for the test cases in pull request #42.

[2021-07-26 18:22] mrp089 commented on #37
I think I got mixed up between `0D` and `1D`. It looks like our `0D` test cases never had a detailed explanation. I think it would make sense to add documentation to all test cases on how we calculated the analytical reference solution (similar to https://github.com/SimVascular/svOneDSolver/tree/master/test). It doesn't need to be super extensive. In most cases a one-line formula for, e.g., the ou

[2021-07-26 18:31] mrp089 opened #43 "Non-periodic coronary BCs"
Not sure where to where post this issue, so I'll post it here.

@mrp089 I just noticed that the coronary boundary conditions in the 0d text input files that you sent me in a previous [comment](https://github.com/SimVascular/svZeroDSolver/issues/14#issuecomment-876004359) are not periodic. I think this might be an issue, because in the 0d solver, we always assume that pulsatile boundary conditions

[2021-07-26 18:34] mrp089 commented on #43
@JonathanPham I understand it doesn't make sense to have non-periodic pressures in coronary BCs. Is this a "hard" requirement, i.e., can we not solve a `0D` problem with non-periodic BCs? Or is something that doesn't make sense, but isn't too big of an issue in cases the discrepancy between last and first time step is small?

[2021-07-26 22:30] JonathanPham commented on #37
Good idea to add some documentation to the test cases. I addressed this in [this commit](https://github.com/SimVascular/svZeroDSolver/pull/42/commits/7467b2b3c3f77b89cfca9bc61aaab5a1d6b7d47c).

[2021-07-26 23:12] JonathanPham commented on #43
@mrp089 It's not a hard requirement to have periodic BCs. As long as the 0D is performing well against the 3D and 1D results (all using the same non-periodic coronary BCs), it probably isn't a big issue.

[2021-07-26 23:43] #43 closed

[2021-07-26 23:43] #38 closed

[2021-07-26 23:44] #37 closed

[2021-07-27 19:07] mrp089 opened #44 "Change in results with json input files"
I reran my `3D-0D` comparison with the current versions of `SimVascular` and `svZeroDSolver` that both support the new `json` input file format. The results compared to the previous `text` input file are quite different and I don't understand why. See below the results of the last `0D` cardiac cycle vs. `3D`. Both pressure level and flow splits seem quite off.

Things I have considered so far:
- a

[2021-07-28 17:52] #44 closed

[2021-10-22 23:00] JonathanPham opened #47 "Convert svZeroDSolver from Python to C++"
We want to convert the 0D solver from Python to C++. The C++ version will replace the GenBC code and remove the need to perform Python-to-C++ coupling in SimVascular.

I will take a stab at this. I am considering using the Eigen library to perform the matrix computations.

[2021-11-12 20:21] ktbolt commented on #47
@JonathanPham I see that you are writing some C++ code in your **cpp** branch. Please describe what you are doing in this Issue.

Unit tests, excellent!

I realize you are just experimenting but keep in mind

- Naming convention:  `PressureVariable` is good for class names but use `LPNVariable::get_value()` rather than `LPNVariable::GetValue()` for methods or functions.
- Indent two spaces, no tab

[2021-12-04 01:48] JonathanPham commented on #47
@ktbolt Thanks for the feedback! I finally got around to implementing the changes you recommended.

Regarding the use of smart pointers, I understand that they are very useful when pointers are created using the `new` keyword. Thus far, in my conversion of `blocks.py` (to `blocks.hpp` and `blocks.cpp`), I have not used the `new` keyword to create any pointers and I don't have any plans to do so ye

[2021-12-06 03:09] ktbolt commented on #47
@JonathanPham It is fine to use whatever you feel comfortable with. The solver code is not very large and is not an interactive app so leaking memory might not be a problem. The main thing is to implement a code that is clean, documented, understandable, and maintainable (i.e. new functionality to be easily added).

Note that the `&` operator creates a reference to something. Pointers and referenc

[2022-01-11 00:20] JonathanPham opened #48 "Change coronary BC's distal pressure from "Pv" to "P_v" to match SimVascular's generated 0D solver input file"
For models with coronary boundary conditions, SimVascular generates 0D solver input files with the distal pressure named as `P_v`. The 0D solver currently uses the name `Pv` instead. This mismatch results in the 0D solver not automatically running for coronary models. We need to change the 0D solver's use of `Pv` to `P_v` for compatibility.

[2022-01-11 01:42] mrp089 commented on #48
Looks good @JonathanPham! Is this change required for the current SimVascular version to run? If so, please also open a (super brief) issue in [the SimVascular repo](https://github.com/SimVascular/SimVascular) and bump up the version of the `svZeroDSolver` sub-repository (after #50 has been merged).

[2022-01-12 20:25] JonathanPham commented on #48
@mrp089 Yes, I think this change is required for the current SimVascular version. Can you merge the changes (#50) for me? I still don't have admin privileges.

I created the issue in the SimVascular repo to request using the updated svZeroDSolver repository. The issue can be found here: https://github.com/SimVascular/SimVascular/issues/956

[2022-03-18 01:56] mrp089 commented on #48
Merged! Sorry, didn't see this... Can you make the appropriate changes in https://github.com/SimVascular/SimVascular/issues/956? Thank you!

[2022-03-18 01:56] #48 closed

[2022-03-19 20:45] JonathanPham opened #51 "Incorrect equations in BloodVessel element"
There is a small bug in the `BloodVessel` element in `blocks.py`. The second equation does not account for time derivative of the resistance, R, which may be nonlinear if a non-zero `stenosis_coefficient` is provided.

I will fix this issue by splitting the second equation into two separate equations. This will circumvent the need to compute a time derivative for R, which may be a complicated proc

[2022-03-21 19:00] mrp089 commented on #51
Looks good @JonathanPham! Thank you for digging into this.

I see that the test cases still pass without requiring any modifications. Is that because our tolerances don't detect the difference in solution? Or is it because our tests are not sensitive to this change? In any case, I think we should modify our test cases so they would have detected this change in results.

[2022-03-23 00:42] JonathanPham commented on #51
Just added a test case to reflect the changes!

[2022-03-23 16:50] #51 closed

[2022-03-23 16:54] JonathanPham commented on #51
I agree! Thanks for the initial advice, @mrp089.

[2022-03-31 18:42] JonathanPham opened #54 "Create a simple two-inlet test case"
Some people are interested in modeling networks with multiple inlets. As such, we should create a simple test case with two inlets to illustrate how a multiple-inlet model can be created.

I will tackle this.

[2022-03-31 18:49] mrp089 commented on #54
Nice to see that this already works! Sadly, our 3D->0D pipeline doesn't support this yet

[2022-03-31 18:49] #54 closed

[2022-03-31 18:53] JonathanPham commented on #54
Thanks @mrp089!

[2022-05-11 17:14] richterjakob opened #57 "Setup CI/CD on Github"
The GitHub CI/CD (or "Actions") can be used to implement testing frameworks directly on Github. One can define certain jobs that are excecuted on push, pull-request, or other events. It is commonly used for:

* Static code checking: Linter (`flake8`), formatter (e.g. `black`), dead code finder (e.g. `vulture`), ...
* Testing: Integration and unit tests (using `pytest`)
* Documentation: Build and d

[2022-05-11 17:19] richterjakob commented on #57
Implemented in PR #58

[2022-05-16 17:36] #57 closed

[2022-05-16 17:54] richterjakob opened #59 "Move to installation via pip"
The installation of the svZeroDSolver has been faciliated by configuring it as a pip package. The package with all its dependencies can now be installed via pip:

[code]
This makes it easier to implement the solver as a package in another tool (like SimVascular) without the need for configuring it as a submodule.

Morover, a command line script has been configured, so that the solver can be called

[2022-05-16 21:02] #59 closed

[2022-05-23 01:47] richterjakob opened #62 "Performance Enhancement"
The 0D solver is already very fast compared to other solvers. However, there are few improvements that can be made to increase the performance even further. The proposed changes are:

* Switch back to dense matrices and solvers. The 0D systems are not big enough to get better performance from a sparse solving strategy. In addition, the current implementation does not exploit the advantages of spar

[2022-05-23 17:46] ktbolt commented on #62
@richterjakob I am wondering if the performance of the 0D solver is really a priority. Note that it will be re-implemented in C++ in the future.

@mrp089 @JonathanPham What do you think?

[2022-05-23 18:09] richterjakob commented on #62
@ktbolt Thanks for your comment. I am aware of the reimplementation in C++ in the future. However, I was not sure about the schedule for the reimplementation and needed a higher performance for my current work as I am evaluating many 0D problems at the same time. The above suggestions are just small optimizations I used in my previous works with 0D solvers and numpy/scipy. I thought, I just implem

[2022-05-23 18:24] JonathanPham commented on #62
@ktbolt @richterjakob Performance optimizations in the Python version of the 0D solver sound great! I don't think a C++ will be happening anytime soon. That conversion has been put on the back-burner.

@richterjakob Thanks for optimizing the 0D solver!

[2022-05-23 18:28] ktbolt commented on #62
@richterjakob Sounds good, have at it!

[2022-05-23 18:46] mrp089 commented on #62
@ktbolt I think this is a great idea! We never fully optimized the Python version for "peak performance." I think there should be a couple of low-hanging fruits for speedups. I'm currently running the solver through all `N=72` models we use in the 3D-1D-0D paper to see 1) if the results are the same and 2) how much faster the new version is.

@richterjakob Can you have a look at some pulmonary mod

[2022-05-24 01:35] mrp089 commented on #62
@richterjakob Fixed the performance decrease in large models by switching between two strategies:
- `n_dof > size` solve sparse system (usually pulmonary models)
- `n_dof <= size` solve dense system (everything else)

We currently use `size=800`, which works well (but of course could be fine-tuned).

I reran the faster `svZeroDSolver` for all `N=72` VMR models:
1) results are the same!
2) we get a

[2022-05-24 01:35] #62 closed

[2022-05-27 18:18] mrp089 opened #63 "Junction modeling"
We currently assume that static pressure is preserved over junctions. In the future, we would like to switch between different junction models:

- preserve total pressure (= static pressure + dynamic pressure)
- John Mynard's unified0D model
- junction pressure loss predicted by Neural Network

[2022-05-27 18:19] mrp089 commented on #63
As a first step, I'll add a new junction type that allows passing geometrical information about junctions to the 0D solver

[2022-06-03 21:50] mrp089 opened #65 "Remove update_constant in blocks"
During the speedup in #62, most of the element setup that's neither dependent on time nor on the solution got moved into the `__init__` functions of the blocks. There are a few remaining implementations of `update_constant` in blocks. I will move those to `__init__` as well and remove the call to `update_constant` in `time_integration.py`.

[2022-06-03 22:16] #65 closed

[2022-06-09 18:22] menon-karthik opened #68 "Closed-loop circulation model"
Currently we can only model open-loop models, i.e. models that terminate with prescribed distal boundary conditions (like a distal pressure). I am adding the following:

- A heart/pulmonary circulation block that will connect outlet BCs back to the inlet of the model in a closed-loop fashion. Ref [1] for details.
- Blocks to model coronary and RCR BCs that do not have a prescribed distal pressure,

[2022-06-30 20:46] ktbolt commented on #47
@richterjakob I just saw that you are doing something with the C++ conversion. Why has this worked not been proposed here and no plan discussed?

[2022-07-01 07:32] mrp089 commented on #47
@ktbolt, @richterjakob had a divine inspiration last week to rewrite the 0D solver in C++ and just pulled through with it. Even though the core of the 0D solver is already running, we can still discuss it here! @richterjakob can include a link to your branch and briefly outline the steps you have taken?

Some things we have to address before switching over from Python to C++:
- Calling the solver

[2022-07-01 21:34] ktbolt commented on #47
@mrp089 Thanks for the update!

I don't of course wish to dampen inspiration, divine or human, but I do need developers to communicate what they plan to do with the rest of the team before they do it. Other team members may have already spent time thinking about this and may have actual requirements defined.

Increasing solver performance is indeed an important goal but so is implementing a code t

[2022-07-02 23:05] richterjakob commented on #47
@ktbolt I understand that this might have been a bit uncommunicated. Let me explain, why I made the decision last week. After several discussions about UQ with 0D models, it had become clear that the performance of the 0D solver is crucial for the decision of which methods I can use for my thesis. I estimated whether the python version is sufficient for my needs and unfortunately it was not, or at

[2022-07-02 23:08] richterjakob commented on #47
Ah and here is the link to my branch: https://github.com/richterjakob/svZeroDSolver/tree/cpp

[2022-07-07 22:20] ktbolt commented on #47
@richterjakob Well, the code is open source so you can do whatever you want with it when it is convenient for you.

[2022-07-08 19:37] ktbolt commented on #47
@richterjakob I had a look at your C++ code. It is definitely cleaner than the Python code and demonstrates nicely how to use Eigen for the linear algebra but we will not replace the current svZeroDSolver with it.

The header-only implementation does not fit in with the goal of making the solver callable as a plugin from other solvers. I also think that using templates for all of the classes does

[2022-07-10 22:35] zasexton opened #69 "Improving Sparse Solving for Memory and Speed"
During initial jacobian construction a dense matrix is used. It seems that csr_matrix has been imported from scipy but is never actually used to instantiate a sparse csr matrix. Also, it seems that for sparse solving we are supplying the vector b as an array type. If this is the case, I believe scipy.sparse.linalg.spsolve will convert between dense to sparse and then back to dense during each time

[2022-07-11 20:49] ktbolt commented on #69
@zasexton What is the motivation for this modification? Are you trying to use the solver and finding that it is still too slow? I'm curious about what the sizes of the matrices involved are.

[2022-07-11 21:11] zasexton commented on #69
@ktbolt I won't really say this is a modification as much as fixing a bug because I don't believe that there should be much matrix reformatting during the time integration? Although I'm not a main contributor to this package so there could very well be something that I'm overlooking. The sparse solver seems to already be an option that is invoked for matrices larger than 800. Personally, my applic

[2022-07-11 21:13] zasexton commented on #69
I'd also like to add that I am not coding up anything for this issue right now. I was more interested in bouncing this to the team to sanity check what I am seeing on my end. I might not be the best person to fix this since I don't have the most knowledge about the zeroDsolver in general.

[2022-07-11 21:26] ktbolt commented on #69
If this is crashing for your application then it is a bug and it should be fixed.

[2022-07-12 18:47] ktbolt commented on #69
@zasexton You might could try the C++ version implemented by @richterjakob located here https://github.com/richterjakob/svZeroDSolver/tree/cpp. It would be interesting to see how much memory it uses for your vessel networks.

[2022-07-14 19:26] mrp089 opened #70 "Interpolate inflow with cubic splines"
In the current `C++` implementation, inflow is linearly interpolated between user-provided time/flow tuples. We use a cubic spline interpolation in the `Python` version to have a smooth inflow, which is important to have a smooth solution in case the user provides a coarse flow profile. The `C++` version should do the same.

[2022-07-15 15:10] zasexton commented on #69
@mrp089 @ktbolt @richterjakob Yes, I will be running these tests with both versions (python & C++) on sherlock for my larger networks this weekend using some of my automatic scripting. I'll include what I notice in this thread. Thank you all so much for the advice so far!

[2022-07-18 17:58] ktbolt commented on #47
@mrp089 You are probably right that we should use @richterjakob implementation as the basis for the new C++ code.  I would like to clarify the following questions I have (maybe @JonathanPham  can help here)
1. Does the code support all of the Python functionality
2. Should the Model::Block class be pure virtual (i.e. just define an interface)
3. Are the circuit equations always nonlinear, seems th

[2022-07-18 18:07] JonathanPham commented on #47
@ktbolt In response to questions 3 and 4:

3. Some circuit equations are linear, like you said. But sometimes, the equations will be nonlinear. For uniformity across the 0D solver, I think it makes sense to create a single solver that can handle both linear and nonlinear equations, rather than developing two separate solvers.
4. Generalized-alpha is a 2nd order implicit time-stepping method. If we

[2022-07-18 18:37] mrp089 commented on #47
2. Yes

[2022-07-18 18:56] ktbolt commented on #47
@JonathanPham Thanks for reply! It will be interesting to see how this all works for large systems, may want to implement separate linear and nonlinear solvers.

[2022-07-18 19:24] menon-karthik opened #71 "Coupling 0D solver with 3D flow solver(s)"
I am planning to start working on a way to interface between the 0D and 3D flow solvers, where 0D solutions act as boundary conditions for the 3D flow solver. Things I am thinking about before I start:

1. @ktbolt Do you have thoughts on the best way to do this?
2. Is there a nice way to make the coupling agnostic to the solvers on either side, i.e. it would work with svSolver or svFSI on one side

[2022-07-18 19:31] menon-karthik commented on #68
Updates:
1. I have finished implementing the model in ref. [1] above.
2. The new blocks are closed-loop RCR outlets, closed-loop coronary outlets, and the heart/pulmonary circulation model.
3. Added two git test cases for closed-loop models: (i) a single vessel with RCR outlet connected on either side to the closed-loop heart model; (ii) a system with 4 parallel vessels, two with RCR outlets, one

[2022-07-18 19:40] menon-karthik opened #72 "C++ 0D solver outputs"
In reference to #47 , I'm implementing functions to make the outputs of the C++ solver closer to the Python solver. So the new functions will write out flows and pressures at all nodes and also all internal variables.

[2022-07-30 01:03] pjnair7 opened #73 "Improved pressure drop model across stenosis"
Current 0D stenosis models only incorporate pressure drop due to turbulent losses at the stenosis (accounted for using the stenosis coefficient). I am planning to add:
A more comprehensive pressure drop model that will account for viscous losses, inertial effect and a continuous component, in addition to the existing turbulent loss. [Ref below]

Itu, L., Sharma, P., Ralovich, K. et al. Non-Invasiv

[2022-08-01 21:05] ktbolt commented on #47
@menon-karthik needs an interface to the svZeroDSolver from svSolver. I will take @richterjakob C++ code from the https://github.com/richterjakob/svZeroDSolver master branch and start modifying it. I will later merge this into https://github.com/SimVascular/svZeroDSolver.

[2022-08-01 21:14] natalia-rubio opened #74 "Volume internal in use_steady_bcs.py has two entries"
The internal volume variable in the coronary BC block is a numpy array of length 2, but we only need to add the first entry to y0.  A quick fix is shown below. @JonathanPham

line 175:
[code]

[2022-08-02 01:28] #74 closed

[2022-08-02 03:38] ktbolt commented on #47
I've added a `SolverInterface` class to the C++ code that prototypes an interface to the 0D solver. It is compiled into a shared library that can be loaded by a C/C++ program and the interface functions called just like any other function.

The solver is initialized using a JSON file passed to the interface `initialization` function and returns a `problem_id`.
[code]

The solution is incremented i

[2022-08-02 15:08] menon-karthik commented on #71
Updates from Dave on this issue: https://github.com/SimVascular/svZeroDSolver/issues/47#issuecomment-1201978268

[2022-08-04 01:40] ktbolt commented on #47
The C++ code does not build on **Ubuntu 18** and **Ubuntu 20**, cmake fails with
[code]

The C++ code does build on **Ubuntu 22** but none of our SV applications are currently supported for that platform.

[2022-08-04 01:55] richterjakob commented on #47
I encountered the same problem when using the package manager dependencies. However, the second way of dependency management via git submodules (see cluster build instructions) should work for all ubuntu versions.

[2022-08-04 04:27] ktbolt commented on #47
@richterjakob Good idea to just clone the code. I am also going to have a look at using CMake`FetchContent`.

[2022-08-04 04:34] ktbolt commented on #47
On `MacOS Catalina` the 0D solver crashes if I use a `MODEL::Model<T>` object as a class data member, for example
[code]

It seems that data is being corrupted in `Block` objects. This works on `Ubuntu 22`.

I've changed `ConfigReader<T>::get_model()` to return `MODEL::Model<T>*` and things now work,  I can run a 0D simulation from an external program.

[2022-08-06 02:41] ktbolt commented on #47
I've done some prototyping from both C++ and Fortran, looks good. People can work off of my branch to interface to 3D solver codes.

There is a lot more work to do to get this code ready to replace the current Python code. I will continue the conversion in a couple of months or so.

[2022-08-09 20:42] mrp089 commented on #47
Awesome, @ktbolt, happy to hear!!

Can you list what more work would be necessary from your view to replace the current Python code? Then we already have some steps in place if anybody in the lab is overcome with a spontaneous burst of coding motivation.

[2022-09-06 21:40] mrp089 commented on #47
**TLDR: `C++` development will be moved to a separate repository because @ktbolt does not think the current version is good enough to be in this repository under `SimVascular`.**

@ktbolt, @richterjakob, and I discussed how to proceed with the development of the `C++` version. Here's a summary.

**Interested parties**
- current developers @richterjakob, @ktbolt, @menon-karthik, @natalia-rubio
- po

[2022-09-09 00:35] mrp089 commented on #47
I did not want to discount @richterjakob's efforts :wink: If we only export the last time step, we get a speedup factor of `51` in `C++` over the `Python` version (averaged for all `N=72` models in the publication).

[2022-09-21 21:56] mrp089 commented on #47
Closing this. The `C++` implementation has been moved to https://github.com/StanfordCBCL/svZeroDSolver

[2022-09-21 21:56] #47 closed

[2022-09-21 21:56] mrp089 commented on #72
Already done in https://github.com/StanfordCBCL/svZeroDSolver

[2022-09-21 21:56] #72 closed

[2022-09-21 21:57] mrp089 commented on #71
Already done in https://github.com/StanfordCBCL/svZeroDSolver

[2022-09-21 21:57] mrp089 commented on #70
Turned out to be not necessary. C++ development moved to https://github.com/StanfordCBCL/svZeroDSolver

[2022-09-21 21:57] #70 closed

[2022-09-21 21:57] mrp089 commented on #68
Now merged into https://github.com/StanfordCBCL/svZeroDSolver

[2022-09-21 22:30] mrp089 commented on #68
Reopening as @menon-karthik is also implementing a Python version of the boundary condition in this repository

[2022-09-22 17:23] menon-karthik opened #10 "Coupling 0D solver with other codes (3D flow solvers, UQ, etc.)"
I am working on an interface between this 0D and other solvers. For example, coupling with 3D flow solvers, where 0D solutions act as boundary conditions for the 3D flow solver. This is a continuation of the following issue before the C++ ZeroDSolver was moved to CBCL: https://github.com/SimVascular/svZeroDSolver/issues/71

Work so far: Dave added a framework for this interface in the old version

[2022-11-01 19:12] JohnDLee opened #15 "Installing/Setting Up C++ version using pip."
When installing the C++ Release, the python environment must be set up correctly (python path points to expected instance of python).

Inside svZeroDPlus, ```pip install .``` will not be able to detect the release. You must use ```pip install -e .``` to install. If you encounter an error that "setup.py" is needed (shown below), then run ```pip install --upgrade pip``` to upgrade pip and try again.

[2022-11-02 01:55] JohnDLee opened #16 "Output CSV requires vessels to be named "branch*""
To have an output for a particular vessel show up in the C++ version, the vessels must have the name ```branch*```.

For example, below, the vessel called branch_mpa shows up, but the vessel lpa_tree does not. This error occurs regardless of any options used (here I use output_mean_only and output_last_cycle_only for clarity).
<img width="387" alt="Screen Shot 2022-11-01 at 9 53 46 PM" src="https:

[2022-11-03 21:27] mrp089 opened #17 "Automatically compute periodicity error"
It would be a great addition if we printed the periodicity error of the last cardiac cycle to give users an idea of how converged the solution is. For every boundary condition, we would need to calculate a time constant `τ=RC` and estimate the periodic error `ε_∞` [as in here](https://doi.org/10.1007/s10439-021-02796-x).

Once we have that, we could also leave the number of cardiac cycles open and